.add-form{
    column-gap: 4rem;
    margin: 2rem auto 0;
    max-width: 800px;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .customer_textfield:nth-child(5) {
        grid-row: 3 / 5;
      }
    
}


.customer_textfield{
    max-width: 500px !important;
    min-width: 200px;
}

.car-form .left, .car-form .right{
   align-items: center !important;
}

