.add-form{
    column-gap: 4rem;
    margin: 2rem auto 0;
    // height: 80vh
    display: flex;
    height: 80vh;
    justify-content: center;
}


.customer_textfield{
    max-width: 500px !important;
    min-width: 200px;
}

.car-form .left, .car-form .right{
   align-items: center !important;
}

