.form{
    display: flex;
    height: 80vh;
    justify-content: center;
}


.customer_textfield{
    max-width: 500px !important;
    min-width: 200px;
}

.car-form .left, .car-form .right{
   align-items: center !important;
}

