.edit-form{
    column-gap: 4rem;
    margin: 2rem auto 0;
    // height: 80vh
    display: flex;
    max-width: 800px;
    row-gap: 1rem;

    .left,
    .right {
        flex: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
  
}

.submit-btn {
    width: 400px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}