.dashboard {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    
  
    .image-section {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    .data-section {

        .dashboard-title {
            font-size: 1.5rem;
            margin-bottom: 1rem;
          }

      width: 80%;
    }
  }
  