.header{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(14,76,149,255);
    
    

    .logo{
        display: flex;
        align-items: center;

        .logo-img{
            height: 50px;
            
        }       
      
        // font-weight: 500;
        // font-size: 1.25rem;
        // text-decoration: none;
        // color: inherit;
    }

    .logout{
        font-weight: 500;
        font-size: 1.25rem;
        cursor: pointer;
    }

    
}

.logout-dialog {
        padding: 2rem;
        .logout-modal {
            .warning {
              margin-top: 2rem;
              margin-bottom: 2rem;
            }
          
            .delete-btn {
              display: flex;
              justify-content: end;
            }
          }
          
        }