.sidebar{

    padding-top: 2rem;
    font-weight: 500;
    color: black;
    

    .sidebar-link{
        text-decoration: none;
        color: inherit;
   
    }

    .item{
        padding: 1rem 2rem;
        border-bottom: 0.5px solid #FDFFAB;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: background-color 0.3s ease;
    }

    .item:hover {
        background-color: #fcff42; 
    }
    
    .active {
        background-color: #fcff42; /* Change background color for active item */
      }
}