.cars-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

    .card{
        min-height: 100%;
        min-width: 300px;

        .card-text {
           width: 100%;
            .car-info{
                
                // display: flex;
                // justify-content: space-between;
            }
        }
    }
}

.search-grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.search-add{
    .search-filter{
        .search-filter-icon{
            display: flex;
        }
    }
}