@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

body{
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.container{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heading{
  text-align: center;
}

.search-add{
  display: flex;
  justify-content: end;
  

  .add-button{
  margin-left: 1rem;
  text-decoration: none;
  color: inherit;
}
}

