.layout{
    height: 100vh;
    background-color: #fff;

    .main-body{
        display: flex;
        min-height: 100%;
        
    }

    .sidebar{
        // margin: 0 1rem 1rem 1rem;
        flex: 0.2;
        background-color: #f1e400;
    }

    .contents{
        flex: 1;
        justify-content: center;
        padding: 2rem;
    }
}

// rgba(14,76,149,255)
